.app.normal {
  --bg-color: #eaeaea;
  --inverted-bg-color: #807f7f;
  --primary-color: #000;
  --secondary-color: #858585;
  --inverted-primary-color: white;
  --inverted-secondary-color: #bdbdbd;
}
