.app.normal {
  --bg-color: #eaeaea;
  --inverted-bg-color: #2f2f2f;
  --primary-color: #000;
  --secondary-color: #545454;
  --inverted-primary-color: white;
  --inverted-secondary-color:
    #bdbdbd
;
}
